<h3>Buscar por región {{ regionActiva | titlecase }}</h3>
<hr>

<h5>Seleccione la región</h5>

<div class="row">
    <div class="col">
        <!-- <button 
            *ngFor="let region of regiones"
            class="btn"
            [ngClass]="{
                'btn-primary': region === regionActiva,
                'btn-outline-primary': region !== regionActiva
            }"
            (click)="activarRegion( region )"
            >
            {{ region }}
        </button> -->
        <button 
            *ngFor="let region of regiones"
            [class]="getCSS( region )"
            (click)="activarRegion( region )"
            >
            {{ region | titlecase }}
        </button>
    
        <hr>
    
        <div *ngIf="paises.length > 0" class="row">
            <div class="col">
                <app-pais-tabla
                    [paises]="paises"
                ></app-pais-tabla>
            </div>
        </div>
    </div>
</div>